[submodule "vocabulary"]
	path = vocabulary
	url = https://github.com/LBDserver/vocabulary
	branch = submission
[submodule "lbdserver-client-api"]
	path = lbdserver-client-api
	url = https://github.com/ConSolidProject/lbdserver-client-api.git
	branch = submission
[submodule "sparql-satellite"]
	path = sparql-satellite
	url = https://github.com/ConSolidProject/sparql-satellite.git
	branch = submission
[submodule "SolidCommunity_Fuseki"]
	path = SolidCommunity_Fuseki
	url = https://github.com/LBD-Hackers/SolidCommunity_Fuseki.git
[submodule "stack/infrastructure/daapi"]
	path = stack/infrastructure/daapi
	url = https://github.com/LBD-Hackers/daapi.git
	branch = paper
[submodule "stack/infrastructure/raapi"]
	path = stack/infrastructure/raapi
	url = https://github.com/LBD-Hackers/raapi.git
	branch = paper
